SMM Generate/IMGGanerate/SMMImgGenerate.json
{
  "name": "SMMImgGenerate",
  "nodes": [
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [-16, 224],
      "id": "42efa848-9954-428d-9a39-3f90d1223c1f",
      "name": "When clicking ‘Execute workflow’"
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "GOOGLE_SHEET_ID_PLACEHOLDER",
          "mode": "list",
          "cachedResultName": "SMM",
          "cachedResultUrl": "[https://docs.google.com/spreadsheets/d/GOOGLE_SHEET_ID_PLACEHOLDER/edit](https://docs.google.com/spreadsheets/d/GOOGLE_SHEET_ID_PLACEHOLDER/edit)"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "content",
          "cachedResultUrl": "[https://docs.google.com/spreadsheets/d/GOOGLE_SHEET_ID_PLACEHOLDER/edit#gid=0](https://docs.google.com/spreadsheets/d/GOOGLE_SHEET_ID_PLACEHOLDER/edit#gid=0)"
        },
        "filtersUI": {
          "values": [
            {
              "lookupColumn": "Finished Content"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [-192, 16],
      "id": "457d3d49-0006-4860-9d73-0920453d2873",
      "name": "Get row(s) in sheet",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "GSHEETS_CREDENTIAL_ID",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.limit",
      "typeVersion": 1,
      "position": [-16, 16],
      "id": "c41e040b-8047-40c3-9b35-2a7927f8a38d",
      "name": "Limit"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [624, 0],
      "id": "0a99b828-d38a-4c05-9fc4-031c305f24de",
      "name": "Loop Over Items"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.noOp",
      "name": "Replace Me",
      "typeVersion": 1,
      "position": [1872, 16],
      "id": "287dcc13-a91d-4830-86b9-f5c877ca5a25"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "[https://api.openai.com/v1/images/generations](https://api.openai.com/v1/images/generations)",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "prompt",
              "value": "={{ $json.prompt }}"
            },
            {
              "name": "model",
              "value": "dall-e-3"
            },
            {
              "name": "n",
              "value": "={{ Number(1) }}"
            },
            {
              "name": "size",
              "value": "1024x1024"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [896, 16],
      "id": "0e9d98c8-64d4-4732-b45a-1d18cb0d992d",
      "name": "HTTP Request",
      "credentials": {
        "httpHeaderAuth": {
          "id": "HTTP_HEADER_CREDENTIAL_ID",
          "name": "Header Auth account"
        }
      }
    },
    {
      "parameters": {
        "operation": "update",
        "documentId": {
          "__rl": true,
          "value": "GOOGLE_SHEET_ID_PLACEHOLDER",
          "mode": "list",
          "cachedResultName": "SMM",
          "cachedResultUrl": "[https://docs.google.com/spreadsheets/d/GOOGLE_SHEET_ID_PLACEHOLDER/edit](https://docs.google.com/spreadsheets/d/GOOGLE_SHEET_ID_PLACEHOLDER/edit)"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "content",
          "cachedResultUrl": "[https://docs.google.com/spreadsheets/d/GOOGLE_SHEET_ID_PLACEHOLDER/edit#gid=0](https://docs.google.com/spreadsheets/d/GOOGLE_SHEET_ID_PLACEHOLDER/edit#gid=0)"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Finished Content": "={{ $json.all_urls }}",
            "row_number": "={{ $index + 1 }}"
          },
          "matchingColumns": ["row_number"],
          "schema": [],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [1680, 16],
      "id": "28509ed9-998e-4004-9588-6b82b87ae946",
      "name": "Update row in sheet",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "GSHEETS_CREDENTIAL_ID",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "[https://api.imgbb.com/1/upload](https://api.imgbb.com/1/upload)",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpQueryAuth",
        "sendBody": true,
        "contentType": "multipart-form-data",
        "bodyParameters": {
          "parameters": [
            {
              "name": "image",
              "value": "={{ $json.data[0].b64_json }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [1120, 16],
      "id": "b0d9160a-7421-4353-9a43-b696eebb298a",
      "name": "HTTP BB",
      "credentials": {
        "httpHeaderAuth": {
          "id": "HTTP_HEADER_CREDENTIAL_ID",
          "name": "Header Auth account"
        },
        "httpQueryAuth": {
          "id": "HTTP_QUERY_CREDENTIAL_ID",
          "name": "Query Auth account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const raw = $json[\"prompt\"];\nconst data = typeof raw === \"string\" ? JSON.parse(raw) : raw;\nconst slides = data.slides;\nreturn slides.map(slide => ({\n  json: {\n    prompt: slide.prompt,\n    designer_text: slide.designer_text,\n    designer_task: slide.designer_task\n  }\n}));"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [176, 16],
      "id": "e1ae6048-5992-4c7a-9c74-579bb4051f4a",
      "name": "Code in JavaScript"
    },
    {
      "parameters": {
        "fieldToSplitOut": "prompt",
        "options": {}
      },
      "type": "n8n-nodes-base.splitOut",
      "typeVersion": 1,
      "position": [384, 16],
      "id": "ff4c811a-e398-4de1-8075-2a2e0bc938e0",
      "name": "Split Out"
    },
    {
      "parameters": {
        "jsCode": "const items = $input.all();\nconst urls = items.map(item => item.json.data?.url).filter(url => url);\nreturn [{\n  json: {\n    all_urls: urls.join(', ')\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1328, 16],
      "id": "0d6293e6-7d26-4efe-96fe-472eaaddb8ad",
      "name": "Code in JavaScript1"
    }
  ],
  "connections": {
    "When clicking ‘Execute workflow’": {
      "main": [
        [
          {
            "node": "Get row(s) in sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get row(s) in sheet": {
      "main": [
        [
          {
            "node": "Limit",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Limit": {
      "main": [
        [
          {
            "node": "Code in JavaScript",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop Over Items": {
      "main": [
        [],
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Replace Me": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request": {
      "main": [
        [
          {
            "node": "HTTP BB",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update row in sheet": {
      "main": [
        [
          {
            "node": "Replace Me",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP BB": {
      "main": [
        [
          {
            "node": "Code in JavaScript1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript": {
      "main": [
        [
          {
            "node": "Split Out",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Split Out": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript1": {
      "main": [
        [
          {
            "node": "Update row in sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  }
}
