Meeting Automation(Zoom)/Zoom AI Meeting Assistant (2).json
{
  "name": "Zoom AI Meeting Assistant",
  "nodes": [
    {
      "parameters": {},
      "id": "b28e022a-1a71-41f1-a295-a01f30c1a3c0",
      "name": "When clicking ‘Test workflow’",
      "type": "n8n-nodes-base.manualTrigger",
      "position": [
        16,
        48
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "errorMessage": "={{ $json.error.cause.message }}"
      },
      "id": "1f479114-33ac-4fb1-8346-db1153d126e9",
      "name": "No Recording/Transcript available",
      "type": "n8n-nodes-base.stopAndError",
      "position": [
        976,
        320
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "authentication": "oAuth2",
        "operation": "getAll",
        "returnAll": true,
        "filters": {}
      },
      "id": "9bc91890-8cff-4668-8d76-591bcfc8a611",
      "name": "Zoom: Get data of last meeting",
      "type": "n8n-nodes-base.zoom",
      "position": [
        256,
        48
      ],
      "typeVersion": 1,
      "credentials": {
        "zoomOAuth2Api": {
          "id": "VEv6G1gOm40EFykk",
          "name": "Zoom account"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "ef149af8-7f9d-4e5a-8ccf-4a5f1e09eecc",
              "name": "transcript_file",
              "type": "string",
              "value": "={{ $json.recording_files.find(f => f.file_type === 'TRANSCRIPT').download_url }}"
            }
          ]
        },
        "options": {}
      },
      "id": "e0cfe866-8fe0-48f3-8f16-af80e7d7f21b",
      "name": "Filter transcript URL",
      "type": "n8n-nodes-base.set",
      "position": [
        912,
        32
      ],
      "typeVersion": 3.4,
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "options": {}
      },
      "id": "fdab6ba1-5800-4fd8-94b8-3084a3efe5ea",
      "name": "Filter: Only 1 item",
      "type": "n8n-nodes-base.splitInBatches",
      "position": [
        1088,
        32
      ],
      "typeVersion": 3
    },
    {
      "parameters": {
        "url": "={{ $json.transcript_file }}",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "zoomOAuth2Api",
        "options": {}
      },
      "id": "f3d54410-e2c8-4554-b0e2-b9d47a9ae765",
      "name": "Zoom: Get transcript file",
      "type": "n8n-nodes-base.httpRequest",
      "position": [
        1296,
        48
      ],
      "typeVersion": 4.2,
      "credentials": {
        "zoomOAuth2Api": {
          "id": "VEv6G1gOm40EFykk",
          "name": "Zoom account"
        }
      }
    },
    {
      "parameters": {
        "operation": "text",
        "options": {}
      },
      "id": "0da2fd2d-5cd1-4009-a28d-1cdd501aed48",
      "name": "Extract text from transcript file",
      "type": "n8n-nodes-base.extractFromFile",
      "position": [
        1456,
        48
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "70019192-02ef-4b0a-a747-3ca5f46aeeaa",
              "name": "transcript",
              "type": "string",
              "value": "={{ $json.data.split('\\r\\n\\r\\n').slice(1).map(block => {\n    const lines = block.split('\\r\\n');\n    return lines.slice(2).join(' ');\n}).join('\\n') }}"
            }
          ]
        },
        "options": {}
      },
      "id": "1958a615-7611-45c3-884d-2172f4cf72e4",
      "name": "Format transcript text",
      "type": "n8n-nodes-base.set",
      "position": [
        1616,
        48
      ],
      "typeVersion": 3.4
    },
    {
      "parameters": {
        "url": "=https://api.zoom.us/v2/past_meetings/{{ $('Filter: Last 24 hours').item.json.id }}/participants",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "zoomOAuth2Api",
        "options": {}
      },
      "id": "bd665b16-5fe2-41bc-929f-858a9aae39b4",
      "name": "Zoom: Get participants data",
      "type": "n8n-nodes-base.httpRequest",
      "position": [
        1776,
        48
      ],
      "typeVersion": 4.2,
      "credentials": {
        "zoomOAuth2Api": {
          "id": "VEv6G1gOm40EFykk",
          "name": "Zoom account"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "version": 2,
            "leftValue": "",
            "caseSensitive": true,
            "typeValidation": "strict"
          },
          "combinator": "and",
          "conditions": [
            {
              "id": "de097a4f-1f3e-4dc0-9ab6-139311ff4676",
              "operator": {
                "type": "dateTime",
                "operation": "afterOrEquals"
              },
              "leftValue": "={{ $json.start_time }}",
              "rightValue": "={{$now.minus({ hours: 24 }).toISO()}}"
            },
            {
              "id": "b22e726e-b68a-433b-a19b-22bb0b008b9b",
              "operator": {
                "type": "dateTime",
                "operation": "beforeOrEquals"
              },
              "leftValue": "={{ $json.start_time }}",
              "rightValue": "={{ $now }}"
            }
          ]
        },
        "options": {}
      },
      "id": "84c6e63c-3fe8-4b46-9c91-b72f1c5367ad",
      "name": "Filter: Last 24 hours",
      "type": "n8n-nodes-base.filter",
      "position": [
        496,
        48
      ],
      "typeVersion": 2.2
    },
    {
      "parameters": {
        "team": "90152058677",
        "space": "90158612362",
        "folderless": true,
        "list": "901518538022",
        "name": "={{ $json.name }}",
        "additionalFields": {
          "content": "={{ $json.description }}"
        }
      },
      "id": "0c81a651-45fb-4930-b350-1de707a1b58d",
      "name": "ClickUp",
      "type": "n8n-nodes-base.clickUp",
      "position": [
        2960,
        288
      ],
      "typeVersion": 1,
      "credentials": {
        "clickUpApi": {
          "id": "bM4PJTAv4PVKdfb9",
          "name": "ClickUp account"
        }
      }
    },
    {
      "parameters": {
        "url": "=https://api.zoom.us/v2/meetings/{{ $json.id }}/recordings",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "zoomOAuth2Api",
        "options": {}
      },
      "id": "42434847-61dd-476c-8e50-2953180ee1ae",
      "name": "Zoom: Get transcripts data",
      "type": "n8n-nodes-base.httpRequest",
      "position": [
        704,
        48
      ],
      "typeVersion": 4.2,
      "credentials": {
        "zoomOAuth2Api": {
          "id": "VEv6G1gOm40EFykk",
          "name": "Zoom account"
        }
      },
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "jsCode": "const items = [];\n\nfor (const item of $input.all()) {\n  const body = item.json.body;\n  if (!body) continue;\n\n  // Simple split approach\n  const sections = body.split('\\n\\n');\n  const title = sections[0].replace(/\\*\\*/g, '');\n  const participants = sections[1].split('\\n').slice(1).join('\\n');\n  const summary = sections[2].split('\\n').slice(1).join('\\n');\n  const tasks = sections[3].split('\\n').slice(1).join('\\n');\n  const dates = sections[4].split('\\n').slice(1).join('\\n');\n\n  const html = `<html>\n<body style=\"font-family: Arial, sans-serif; max-width: 800px; margin: 20px;\">\n<h1 style=\"color: #2c3e50; border-bottom: 2px solid #3498db; padding-bottom: 10px;\">${title}</h1>\n<h2 style=\"color: #2c3e50; margin-top: 20px;\">Participants:</h2>\n<ul style=\"list-style-type: none; padding-left: 20px;\">\n${participants.split('\\n').map(p => `<li>${p.replace('- ', '')}</li>`).join('\\n')}\n</ul>\n<h2 style=\"color: #2c3e50; margin-top: 20px;\">Meeting Summary:</h2>\n<p style=\"margin-left: 20px;\">${summary}</p>\n<h2 style=\"color: #2c3e50; margin-top: 20px;\">Tasks:</h2>\n<ul style=\"margin-left: 20px;\">\n${tasks.split('\\n').map(t => `<li>${t.replace('- ', '')}</li>`).join('\\n')}\n</ul>\n<h2 style=\"color: #2c3e50; margin-top: 20px;\">Important Dates:</h2>\n<ul style=\"margin-left: 20px;\">\n${dates.split('\\n').map(d => `<li>${d.replace('- ', '')}</li>`).join('\\n')}\n</ul>\n</body>\n</html>`;\n\n  items.push({\n    json: {\n      html,\n      to: item.json.to,\n      subject: item.json.subject\n    }\n  });\n}\n\nreturn items;"
      },
      "id": "428648cf-5d53-4fa5-a61e-15f35942ac81",
      "name": "Format to html1",
      "type": "n8n-nodes-base.code",
      "position": [
        2752,
        48
      ],
      "typeVersion": 2
    },
    {
      "parameters": {
        "fromEmail": "friedemann.schuetz@posteo.de",
        "toEmail": "={{ $json.to }}",
        "subject": "={{ $json.subject }}",
        "html": "={{ $json.html }}",
        "options": {}
      },
      "id": "376b34a7-1056-44b8-890b-16c51a0fcf5a",
      "name": "Send meeting summary1",
      "type": "n8n-nodes-base.emailSend",
      "position": [
        3024,
        48
      ],
      "webhookId": "81c4f081-f3d1-44c3-a344-3f735f1873b5",
      "typeVersion": 2.1,
      "credentials": {
        "smtp": {
          "id": "HpoZMyUokjLRuNzr",
          "name": "SMTP account"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=TODAY IS: {{ $now }}\n\nYOU ARE A MEETING ASSISTANT. YOUR GOAL IS TO OUTPUT STRUCTURED DATA (JSON) FOR AUTOMATION. DO NOT CHAT. DO NOT USE MARKDOWN.\n\n### INPUTS ###\n- **MEETING TITLE**: {{ $('Zoom: Get data of last meeting').item.json.topic }}\n- **PARTICIPANTS**: {{ $('Zoom: Get participants data').item.json.participants[0].name }}\n- **TRANSCRIPT**: {{ $('Format transcript text').item.json.transcript }}\n\n### YOUR TASKS ###\n1. ANALYZE the transcript to find actionable tasks.\n2. ANALYZE the transcript to find follow-up meeting details.\n3. OUTPUT the result strictly in the JSON format defined below.\n\n### RESPONSE FORMAT (STRICT JSON) ###\nYou must return a valid JSON object. Do not wrap it in ```json ... ``` code blocks. Just the raw JSON.\n\nThe structure must be:\n{\n  \"tasks\": [\n    {\n      \"name\": \"Task title here\",\n      \"description\": \"Detailed description of what needs to be done\",\n      \"assignee\": \"Name of the person\",\n      \"due_date\": \"YYYY-MM-DD (or null if not specified)\"\n    }\n  ],\n  \"meeting\": {\n    \"title\": \"Follow-up meeting title\",\n    \"date\": \"YYYY-MM-DD HH:MM (or null if not specified)\",\n    \"participants\": [\"Name 1\", \"Name 2\"]\n  }\n}\n\n### RULES ###\n- **name**: Keep it concise (for ClickUp task title).\n- **description**: Include all necessary context from the transcript.\n- **due_date**: If a specific date is mentioned, use YYYY-MM-DD format. If \"next Tuesday\" is said, calculate the date based on \"TODAY IS\". If no date, use null.\n- If there are no tasks, return an empty array \"tasks\": [].\n\n### EXAMPLE OUTPUT ###\n{\n  \"tasks\": [\n    {\n      \"name\": \"Prepare presentation\",\n      \"description\": \"Create slides for the Q3 report including new metrics.\",\n      \"assignee\": \"John Doe\",\n      \"due_date\": \"2025-10-15\"\n    }\n  ],\n  \"meeting\": {\n    \"title\": \"Follow-up: Project Review\",\n    \"date\": \"2025-10-20 10:00\",\n    \"participants\": [\"John Doe\", \"Jane Smith\"]\n  }\n}",
        "options": {}
      },
      "id": "b090cd94-f84f-42c4-9182-455630814f49",
      "name": "Create tasks and follow-up call1",
      "type": "@n8n/n8n-nodes-langchain.agent",
      "position": [
        2272,
        240
      ],
      "typeVersion": 1.7
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=Create a formal meeting minutes document from the following transcript and meeting details.\n\nMeeting Date: {{ $('Zoom: Get data of last meeting').item.json.start_time }} // This needs to be formatted from the meeting details\nParticipants: {{ $json.participants.map(p => p.name + ' (' + p.user_email + ')').join(', ') }}\n\nTranscript:\n{{ $('Format transcript text').item.json.transcript }}\n\nPlease create the minutes in the following format:\n\nMeeting on [Date]\n\nParticipants:\n[List of participants with email addresses]\n\nSummary of the Meeting:\n[Brief and concise summary of the topics discussed]\n\nTasks:\n- [Task] (Responsible: [Name])\n- ...\n\nImportant Dates:\n- [Date] ([Context])\n- ...\n",
        "options": {}
      },
      "id": "fc5fb04b-6dd8-4238-857a-66cd978003a4",
      "name": "Create meeting summary1",
      "type": "@n8n/n8n-nodes-langchain.agent",
      "position": [
        1968,
        48
      ],
      "typeVersion": 1.9
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "claude-opus-4-5-20251101",
          "mode": "list",
          "cachedResultName": "Claude Opus 4.5"
        },
        "options": {}
      },
      "id": "c146f3ca-5f92-4417-bfb2-dd03f14b87cb",
      "name": "Anthropic Chat Model",
      "type": "@n8n/n8n-nodes-langchain.lmChatAnthropic",
      "position": [
        2048,
        512
      ],
      "typeVersion": 1.3,
      "credentials": {
        "anthropicApi": {
          "id": "WHNnp3SB0zW71fow",
          "name": "Anthropic account"
        }
      }
    },
    {
      "parameters": {},
      "id": "dfa56544-01e0-4dca-a8cd-56394d44ed87",
      "name": "Think",
      "type": "@n8n/n8n-nodes-langchain.toolThink",
      "position": [
        2224,
        512
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "jsCode": "// 1. Получаем список участников из Zoom\n// Важно: убедитесь, что имя узла точно совпадает (Zoom: Get participants data)\nconst participants = $('Zoom: Get participants data').first().json.participants;\n\n// 2. Получаем текст саммари от AI\n// Берем output из входящих данных этого узла (от Create meeting summary1)\nconst aiOutput = items[0].json.output;\n\n// 3. Формируем тему письма (берем дату и название из данных Zoom)\nconst meetingTopic = $('Zoom: Get data of last meeting').first().json.topic;\nconst meetingDate = $('Zoom: Get data of last meeting').first().json.start_time;\nconst subject = `Meeting Summary: ${meetingTopic} (${meetingDate})`;\n\n// 4. Создаем список писем для отправки\nconst emailsToSend = [];\n\nfor (const person of participants) {\n  // Проверяем, есть ли у участника email и не пустой ли он\n  if (person.user_email && person.user_email.includes('@')) {\n    emailsToSend.push({\n      json: {\n        to: person.user_email, // Кому: почта конкретного участника\n        name: person.name,     // Имя для вежливости (можно использовать в шаблоне)\n        subject: subject,      // Тема\n        body: aiOutput         // Текст: то самое саммари от AI\n      }\n    });\n  }\n}\n\n// 5. Возвращаем массив. n8n запустит следующие узлы для КАЖДОГО элемента массива.\nreturn emailsToSend;"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2464,
        48
      ],
      "id": "c6fa89ec-9a9e-4041-86d7-2f01de516f0d",
      "name": "Code in JavaScript"
    },
    {
      "parameters": {
        "jsCode": "// 1. Получаем текстовый ответ от AI\nconst aiOutput = $input.item.json.output;\n\n// 2. Превращаем текст в реальный JSON-объект\nlet parsedData;\ntry {\n  parsedData = JSON.parse(aiOutput);\n} catch (error) {\n  // Если AI ошибся в синтаксисе, вернем пустой список, чтобы не ломать воркфлоу\n  parsedData = { tasks: [] };\n}\n\n// 3. Возвращаем массив задач. \n// n8n сам превратит каждый элемент массива в отдельный item для ClickUp\nreturn parsedData.tasks.map(task => ({\n  json: task\n}));"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2656,
        288
      ],
      "id": "4dbbdf8a-8cb1-4e50-b1cb-0dc962b67b63",
      "name": "Code in JavaScript1"
    }
  ],
  "pinData": {
    "Filter: Last 24 hours": [
      {
        "json": {
          "uuid": "qz4boWSHQBuHm7MUAzdzXw==",
          "id": 85823613894,
          "host_id": "E10dmIxUQZWF-_1IyCbfTw",
          "topic": "Моя конференция",
          "type": 2,
          "start_time": "2025-12-01T16:30:00Z",
          "duration": 60,
          "timezone": "Europe/Kiev",
          "created_at": "2025-12-01T16:20:18Z",
          "join_url": "https://us06web.zoom.us/j/85823613894?pwd=DRulVi4s8Qtim5RXw4umN6cDzaYSF9.1"
        }
      },
      {
        "json": {
          "uuid": "Bb8Qz7OOQMWXjYMWOWJFwg==",
          "id": 81027876345,
          "host_id": "E10dmIxUQZWF-_1IyCbfTw",
          "topic": "Моя конференция",
          "type": 2,
          "start_time": "2025-12-02T18:30:00Z",
          "duration": 60,
          "timezone": "Europe/Kiev",
          "created_at": "2025-12-02T18:34:46Z",
          "join_url": "https://us06web.zoom.us/j/81027876345?pwd=r505mOnIPISlzJHWvOfRAaaEhYrOLA.1"
        }
      },
      {
        "json": {
          "uuid": "7W/TtycMRL6npPPmgsqBOA==",
          "id": 89386600017,
          "host_id": "E10dmIxUQZWF-_1IyCbfTw",
          "topic": "Моя конференция",
          "type": 2,
          "start_time": "2025-12-02T19:45:00Z",
          "duration": 60,
          "timezone": "Europe/Kiev",
          "created_at": "2025-12-02T19:45:22Z",
          "join_url": "https://us06web.zoom.us/j/89386600017?pwd=FjVSEBo1QTZWedjuItvUFOoFNhvfLV.1"
        }
      }
    ],
    "Zoom: Get participants data": [
      {
        "json": {
          "page_count": 1,
          "page_size": 30,
          "total_records": 6,
          "next_page_token": "",
          "participants": [
            {
              "id": "E10dmIxUQZWF-_1IyCbfTw",
              "user_id": "16778240",
              "name": "Konstantin Ogurtsov",
              "user_email": "strong.ogurcov@gmail.com",
              "join_time": "2025-12-02T19:46:24Z",
              "leave_time": "2025-12-02T20:02:51Z",
              "duration": 987,
              "registrant_id": "",
              "failover": false,
              "status": "in_meeting",
              "groupId": "",
              "internal_user": true
            },
            {
              "id": "",
              "user_id": "16787456",
              "name": "Zats Oleksandr",
              "user_email": "zats2021ki51@student.karazin.ua",
              "join_time": "2025-12-02T19:52:34Z",
              "leave_time": "2025-12-02T19:52:41Z",
              "duration": 7,
              "registrant_id": "",
              "failover": false,
              "status": "in_waiting_room",
              "groupId": "",
              "internal_user": false
            },
            {
              "id": "",
              "user_id": "16788480",
              "name": "Zats Oleksandr",
              "user_email": "",
              "join_time": "2025-12-02T19:52:41Z",
              "leave_time": "2025-12-02T20:02:49Z",
              "duration": 608,
              "registrant_id": "",
              "failover": false,
              "status": "in_meeting",
              "groupId": "",
              "internal_user": false
            },
            {
              "id": "",
              "user_id": "16789504",
              "name": "iPhone Roman",
              "user_email": "",
              "join_time": "2025-12-02T19:53:18Z",
              "leave_time": "2025-12-02T19:54:29Z",
              "duration": 71,
              "registrant_id": "",
              "failover": false,
              "status": "in_waiting_room",
              "groupId": "",
              "internal_user": false
            },
            {
              "id": "",
              "user_id": "16790528",
              "name": "iPhone Roman",
              "user_email": "",
              "join_time": "2025-12-02T19:54:29Z",
              "leave_time": "2025-12-02T20:00:09Z",
              "duration": 340,
              "registrant_id": "",
              "failover": false,
              "status": "in_meeting",
              "groupId": "",
              "internal_user": false
            },
            {
              "id": "",
              "user_id": "16791552",
              "name": "Андрій",
              "user_email": "",
              "join_time": "2025-12-02T20:01:06Z",
              "leave_time": "2025-12-02T20:02:18Z",
              "duration": 72,
              "registrant_id": "",
              "failover": false,
              "status": "in_waiting_room",
              "groupId": "",
              "internal_user": false
            }
          ]
        }
      }
    ],
    "Format transcript text": [
      {
        "json": {
          "transcript": "Konstantin Ogurtsov: Александр, привет. Даю тебе задание. Тебе нужно внести все изменения, которые мы приняли на прошлом митинге.\nZats Oleksandr: Хорошо. Озвучу задание, чтобы подтвердить. Мне нужно реализовать подключение к бэкенду, настроить REST API (реализовать GET и POST запросы). После этого сделать веб-интерфейс для всех кнопок на сайте и формы внутри кнопок, чтобы пользователям было удобнее. Данные из формы должны отправляться в Telegram, а затем в Google. Также нужно написать небольшого Python-бота для просмотра контента.\nKonstantin Ogurtsov: Да, всё верно. Это твоя задача. У тебя есть время до 4 декабря. Это задание придет тебе на почту.\nKonstantin Ogurtsov: Теперь Роман. Роман, ты слышишь?\niPhone Roman: Да.\nKonstantin Ogurtsov: Роман, тебе задача: сделать очень классный дизайн. Нужно отрисовать кнопки и предусмотреть заливку по требованию заказчика.\nKonstantin Ogurtsov: Еще одно дополнение к заданию: нужно сделать инпуты (поля ввода). Чтобы пользователь мог вводить данные, и были поля со звездочками (обязательные).\niPhone Roman: Понял, сделать дизайн кнопок, заливку и инпуты с обязательными полями.\nKonstantin Ogurtsov: Да. ИИ соберет этот транскрипт, выделит задачи и отправит их вам на почты, которые подтянутся из Zoom."
        }
      }
    ],
    "Create meeting summary1": [
      {
        "json": {
          "output": "---\n\n# Meeting on December 1, 2025, 16:30 UTC\n\n## Participants:\n- Konstantin Ogurtsov (strong.ogurcov@gmail.com)\n- Zats Oleksandr (zats2021ki51@student.karazin.ua)\n- Roman (email not provided)\n- Андрій (email not provided)\n\n## Summary of the Meeting:\nThe meeting was a task assignment session led by Konstantin Ogurtsov. Tasks from the previous meeting were reviewed and formally assigned. Development tasks related to backend integration, REST API implementation, and web interface creation were assigned to Oleksandr Zats. Design tasks including button design, styling, and input field creation were assigned to Roman. It was noted that task summaries would be automatically compiled and sent to participants via email.\n\n## Tasks:\n- Implement backend connection and configure REST API (GET and POST requests) (Responsible: Zats Oleksandr)\n- Create web interface for all site buttons and forms within buttons for improved user experience (Responsible: Zats Oleksandr)\n- Set up data flow from forms to Telegram and then to Google (Responsible: Zats Oleksandr)\n- Develop a Python bot for content viewing (Responsible: Zats Oleksandr)\n- Design buttons with customizable fill/background per client requirements (Responsible: Roman)\n- Create input fields with required field indicators (asterisks) (Responsible: Roman)\n\n## Important Dates:\n- December 4, 2025 (Deadline for Zats Oleksandr's development tasks)"
        }
      }
    ],
    "Code in JavaScript": [
      {
        "json": {
          "to": "strong.ogurcov@gmail.com",
          "name": "Konstantin Ogurtsov",
          "subject": "Meeting Summary: Моя конференция (2025-12-01T16:30:00Z)",
          "body": "---\n\n# Meeting on December 1, 2025, 16:30 UTC\n\n## Participants:\n- Konstantin Ogurtsov (strong.ogurcov@gmail.com)\n- Zats Oleksandr (zats2021ki51@student.karazin.ua)\n- Roman (email not provided)\n- Андрій (email not provided)\n\n## Summary of the Meeting:\nThe meeting was a task assignment session led by Konstantin Ogurtsov. Tasks from the previous meeting were reviewed and formally assigned. Development tasks related to backend integration, REST API implementation, and web interface creation were assigned to Oleksandr Zats. Design tasks including button design, styling, and input field creation were assigned to Roman. It was noted that task summaries would be automatically compiled and sent to participants via email.\n\n## Tasks:\n- Implement backend connection and configure REST API (GET and POST requests) (Responsible: Zats Oleksandr)\n- Create web interface for all site buttons and forms within buttons for improved user experience (Responsible: Zats Oleksandr)\n- Set up data flow from forms to Telegram and then to Google (Responsible: Zats Oleksandr)\n- Develop a Python bot for content viewing (Responsible: Zats Oleksandr)\n- Design buttons with customizable fill/background per client requirements (Responsible: Roman)\n- Create input fields with required field indicators (asterisks) (Responsible: Roman)\n\n## Important Dates:\n- December 4, 2025 (Deadline for Zats Oleksandr's development tasks)"
        }
      },
      {
        "json": {
          "to": "zats2021ki51@student.karazin.ua",
          "name": "Zats Oleksandr",
          "subject": "Meeting Summary: Моя конференция (2025-12-01T16:30:00Z)",
          "body": "---\n\n# Meeting on December 1, 2025, 16:30 UTC\n\n## Participants:\n- Konstantin Ogurtsov (strong.ogurcov@gmail.com)\n- Zats Oleksandr (zats2021ki51@student.karazin.ua)\n- Roman (email not provided)\n- Андрій (email not provided)\n\n## Summary of the Meeting:\nThe meeting was a task assignment session led by Konstantin Ogurtsov. Tasks from the previous meeting were reviewed and formally assigned. Development tasks related to backend integration, REST API implementation, and web interface creation were assigned to Oleksandr Zats. Design tasks including button design, styling, and input field creation were assigned to Roman. It was noted that task summaries would be automatically compiled and sent to participants via email.\n\n## Tasks:\n- Implement backend connection and configure REST API (GET and POST requests) (Responsible: Zats Oleksandr)\n- Create web interface for all site buttons and forms within buttons for improved user experience (Responsible: Zats Oleksandr)\n- Set up data flow from forms to Telegram and then to Google (Responsible: Zats Oleksandr)\n- Develop a Python bot for content viewing (Responsible: Zats Oleksandr)\n- Design buttons with customizable fill/background per client requirements (Responsible: Roman)\n- Create input fields with required field indicators (asterisks) (Responsible: Roman)\n\n## Important Dates:\n- December 4, 2025 (Deadline for Zats Oleksandr's development tasks)"
        }
      }
    ],
    "Create tasks and follow-up call1": [
      {
        "json": {
          "output": "{\"tasks\":[{\"name\":\"Реализовать бэкенд и веб-интерфейс\",\"description\":\"Реализовать подключение к бэкенду, настроить REST API (реализовать GET и POST запросы). Сделать веб-интерфейс для всех кнопок на сайте и формы внутри кнопок. Данные из формы должны отправляться в Telegram, а затем в Google. Написать небольшого Python-бота для просмотра контента.\",\"assignee\":\"Zats Oleksandr\",\"due_date\":\"2025-12-04\"},{\"name\":\"Создать дизайн кнопок и инпутов\",\"description\":\"Сделать классный дизайн: отрисовать кнопки, предусмотреть заливку по требованию заказчика. Создать инпуты (поля ввода) с обязательными полями, отмеченными звездочками.\",\"assignee\":\"iPhone Roman\",\"due_date\":null}],\"meeting\":null}"
        }
      }
    ]
  },
  "connections": {
    "Filter: Only 1 item": {
      "main": [
        [],
        [
          {
            "node": "Zoom: Get transcript file",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Filter transcript URL": {
      "main": [
        [
          {
            "node": "Filter: Only 1 item",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Filter: Last 24 hours": {
      "main": [
        [
          {
            "node": "Zoom: Get transcripts data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Format transcript text": {
      "main": [
        [
          {
            "node": "Zoom: Get participants data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Zoom: Get transcript file": {
      "main": [
        [
          {
            "node": "Extract text from transcript file",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Zoom: Get transcripts data": {
      "main": [
        [
          {
            "node": "Filter transcript URL",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "No Recording/Transcript available",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Zoom: Get participants data": {
      "main": [
        [
          {
            "node": "Create meeting summary1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Zoom: Get data of last meeting": {
      "main": [
        [
          {
            "node": "Filter: Last 24 hours",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract text from transcript file": {
      "main": [
        [
          {
            "node": "Format transcript text",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "When clicking ‘Test workflow’": {
      "main": [
        [
          {
            "node": "Zoom: Get data of last meeting",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Format to html1": {
      "main": [
        [
          {
            "node": "Send meeting summary1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create meeting summary1": {
      "main": [
        [
          {
            "node": "Code in JavaScript",
            "type": "main",
            "index": 0
          },
          {
            "node": "Create tasks and follow-up call1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Anthropic Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "Create tasks and follow-up call1",
            "type": "ai_languageModel",
            "index": 0
          },
          {
            "node": "Create meeting summary1",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Think": {
      "ai_tool": [
        [
          {
            "node": "Create tasks and follow-up call1",
            "type": "ai_tool",
            "index": 0
          },
          {
            "node": "Create meeting summary1",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Send meeting summary1": {
      "main": [
        [
          {
            "node": "Filter: Only 1 item",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create tasks and follow-up call1": {
      "main": [
        [
          {
            "node": "Code in JavaScript1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript": {
      "main": [
        [
          {
            "node": "Format to html1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript1": {
      "main": [
        [
          {
            "node": "ClickUp",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "callerPolicy": "workflowsFromSameOwner",
    "availableInMCP": false
  },
  "versionId": "b5249e55-bc8c-4b1a-bdd5-f76505720125",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "b778df9d6e27fc61c811b7ee0b7da185a25a1db9964438a050364976665916b3"
  },
  "id": "Gf6tnm2UtiZpV6lX",
  "tags": []
}